body, select, input, textarea{
    cursor: none; /* Hide the default cursor on body, select, input, and textarea */
}
#custom-cursor {
    position: fixed;
    pointer-events: none; /* Ensures the cursor doesn't interfere with click events */
    z-index: 9999; /* Ensure the cursor appears on top of other elements */
    display: none; /* Hide the cursor initially */
}
#custom-cursor img {
    position: absolute;
    /* Center the image around the mouse pointer */
    transform: translate(-50%, -50%);
    /* Resize the image */
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}


/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%; /* Ensure full height coverage */
}

/* Basic styling for body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #b7d6f6;
    background-image: url('../images/BoneBackground.jpg'); /* Background image */ ;
    color: #333;
    position: relative; /* Set body position to relative */
    padding: 20px; /* Adjust padding as needed */

}



hr {
    border-color: #d1d0d0;
    border-width: 20px;
}
/* Header styling */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 60px; /* Larger font size */
    color: #6b432f; /* Dark red color */
    z-index: 2; /* Push content in front of border */

}

/* Container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
    position: relative; /* Set container position to relative */
    z-index: 2; /* Push content in front of border */
}

/* Form styling */
form {
    padding: 20px;
}

/* Label styling */
label {
    font-weight: bold;
    color: #555; /* Dark gray color */
}

/* Input and select styling */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 4px;
    background-color: #f9f9f9; /* Light gray background */
    cursor: none; /* Hide the cursor */
}

/* Button styling */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8c583e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px; /* Larger font size */
    transition: 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #6b432f; 
    cursor: none; /* Hide the cursor on hover */
}


#border {
    position: fixed; /* Fix the border position */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1; /* Push it in front of background */
    pointer-events: none; /* Ensure it doesn't interfere with user interactions */
    border: 20px double rgba(197, 152, 92, 0.7); /* Set border properties with more transparency */
    box-sizing: border-box; /* Ensure border width is included in calculations */
}
/* Error message styling */
.text-danger {
    color: #b50000; /* Dark red color */
    font-size: 14px;
}

/* Success message styling */
.correct {
    color: #2d752b; /* Dark green color */
    font-size: 14px;
}

/* Adjusting column width for small screens */
@media (max-width: 576px) {
    .col-12 {
        width: 100%;
    }
}

#breedSelectContainer {
    display: none;
}

.table-container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
    position: relative; /* Set container position to relative */
    z-index: 2; /* Push content in front of border */
}

  /* CSS for animation */
  .slide-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .slide-in.active {
    opacity: 1;
    transform: translateY(0);
  }

  .slide-in:hover{
    border-color: rgb(255, 215, 106);
  }



  
  @keyframes moveRight {
    0% { left: -10%; } /* Start position off the left side of the viewport */
    100% { left: calc(100% - 10%); } /* End position to stop at 80% of the viewport width */
}

.image {
    margin-top:60px;
    position: relative;
    top: 50%;
    left: -10%; /* Initial position off the left side of the viewport */
    transform: translateY(-50%);
    width: 10%; /* Set the width of the image relative to the viewport width */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    animation: moveRight 10s linear infinite; /* Adjust animation duration and timing function as needed */
    z-index: 2; /* Push the image in front of other elements */
}

@media (max-width: 768px) {
    .image {
        width: 10%; /* Adjust image width for smaller screens */
        animation: moveRight 5s linear infinite; /* Adjust animation for smaller screens */
        animation-duration: 10s; /* Example: Adjust animation duration for smaller screens */
        animation-iteration-count: infinite; /* Example: Make animation loop infinitely on smaller screens */
    }
}


.nav {
    position: fixed;
    top: 50%; /* Adjust as needed */
    transform: translateY(-140%);
    left: 0;
    z-index: 999; /* Ensure it's on top of other content */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
    height: 90px; /* Default height */
    width: 100px; /* Default width */
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* Responsive styles */
    @media (max-width: 768px) {
        width: 65px; /* Adjust width for smaller screens */
        height: auto; /* Allow height to adjust automatically */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}


:root {
    --grey-color: #211e1a;
    --primary-color: #8c583e; /* Define your primary, info, success, warning, and danger colors here */
    --info-color: #8c583e;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .menu-hover-fill li {
    position: relative;
  }
  
  .menu-hover-fill li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1rem;
    width: 0.25rem;
    height: 100%;
    background: var(--menu-link-active-color);
    transition: 0.6s;
  }
  
  .menu-hover-fill li a {
    --menu-link-color: var(--grey-color);
    position: relative;
    background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-size 0.45s 0.04s;
  }
  
  .menu-hover-fill li a::before {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: var(--menu-link-color);
  }
  
  :root {
    --menu-link-active-colors: var(--primary-color), var(--info-color), var(--success-color), var(--warning-color), var(--danger-color);
  }
  
  .menu-hover-fill li:nth-child(1) {
    --menu-link-active-color: var(--primary-color);
  }
  
  .menu-hover-fill li:nth-child(2) {
    --menu-link-active-color: var(--info-color);
  }
  
  .menu-hover-fill li:nth-child(3) {
    --menu-link-active-color: var(--success-color);
  }
  
  .menu-hover-fill li:nth-child(4) {
    --menu-link-active-color: var(--warning-color);
  }
  
  .menu-hover-fill li:nth-child(5) {
    --menu-link-active-color: var(--danger-color);
  }
  
  .menu-hover-fill li:hover::before {
    left: calc(100% + 1rem);
  }
  
  .menu-hover-fill li:hover a {
    background-size: 100%;
  }
  